<div class="card text-dark bg-light mb-3">
  <div class="card-header">side menu</div>
  <div class="card-body">
    <h3 class="card-title">Light card title</h3>
    <p class="card-text">Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.</p>
  </div>
</div>
<div class="card text-dark bg-light mb-3">
  <div class="card-header">side menu</div>
  <div class="card-body">
    <h3 class="card-title">Light card title</h3>
    <p class="card-text">Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.</p>
  </div>
</div>
<div class="card text-dark bg-light mb-3">
  <div class="card-header">side menu</div>
  <div class="card-body">
    <h3 class="card-title">Light card title</h3>
    <p class="card-text">Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.Sample text.</p>
  </div>
</div>