<% if flash[:notice].present? %>
<div class="alert alert-success text-center"><%= notice %></div>
<% end %>

<% if flash[:alert].present? %>
<div class="alert alert-danger text-center"><%= alert %></div>
<% end %>