#posts-index,#posts-new,#posts-create,#posts-update,#posts-destroy{

h2{
  margin-bottom: 30px;
  }
  .content-block{
      margin: 15px auto;
    .card{
      .post{
        margin: 15px auto;
      }
      .datetime{
        text-align: right;
        margin: 5px auto;
      }
      
      .profile{
    
        .personal-data{
          display: flex;
          .name{
            padding :5px;
          }
          .age{
            padding :5px;
          }
        }
        .work-history{
          display: flex;
          .occupation{
            padding :5px;
          }
          .experience{
            padding :5px;
          }
        }
      }
    }
  }
  
  .content-form {
    
    textarea{
      display: block;
      width: 100%;
      hight: auto;
    }
    .image-field{
      margin: 15px auto;
    }
  }
  .like-link{
    text-decoration: none;
    white-space: nowrap;
  }
  
  .like-link:hover {
    background-color: #fff!important;
  }
  
  .like-btn {
    font-size: 22px;
    color: #808080;
    margin-right: 8px;
  }
   
  .unlike-btn {
    font-size: 22px;
    color: #e54747;
    margin-right: 8px;
  }
  
  
}